{% extends 'base.html' %}
{% load static %}
{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="text-center mt-16">
  <h1 class="text-3xl font-bold mb-2">Selamat datang, {{ request.user.username }}!</h1>
  <p class="text-gray-600 mb-6">Role: {{ request.user.role }}</p>

  <button onclick="logoutUser()" class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-800 transition">
    Logout
  </button>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'accounts/js/auth.js' %}"></script>
{% endblock %}
