{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Chats</title>
{% endblock meta %}

{% block content %}
{% include 'modal.html' %}
{% include 'navbar.html' %}

<div class="relative w-full overflow-hidden mt-[65px] md:mt-[75px]">
    <div class="grid grid-cols-1 md:grid-cols-[40%_60%] lg:grid-cols-[35%_65%] w-full">
        <!-- Loading Spinner -->
        <div id="loading" class="absolute inset-0 flex flex-col items-center justify-center bg-neutral-900 z-10 hidden text-gray-300">
            <svg class="animate-spin h-8 w-8 text-green-500 mb-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
            <p class="text-gray-400">Loading Threads...</p>
        </div>

        <!-- Groups -->
        <div id="groups-container" class="flex flex-col border-neutral-800 overflow-y-auto h-[calc(100dvh-75px)]">
            <form id="group-search-form" method="get" action="" class="flex flex-col lg:flex-row gap-4 w-full" autocomplete="off">
                <div class="relative flex flex-row items-center w-full">
                    <svg class="absolute w-5 h-5 ml-5 text-[#6B6B6B]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                    <input
                    type="text"
                    name="keyword"
                    value="{{ request.GET.keyword }}"
                    placeholder="Search group name"
                    class="w-full bg-transparent border-b h-[70px] border-[#3A3A3A] text-[#EAEAEA]
                        placeholder-[#6B6B6B] focus:outline-none focus:border-white
                        py-3 pr-4 pl-12 text-lg transition-all duration-300" id="group-search-form-input"/>
                </div>
            </form>
            <div class="flex flex-col" id="inner-groups-container">
                <div id="dummy-section"></div>
            </div>
        </div>
        <div id="empty-groups-container" class="hidden flex flex-col items-center justify-center border-neutral-800 overflow-y-auto h-[calc(100dvh-75px)]">
            <div class="flex flex-col gap-4 items-center justify-center m-auto">
                <img src="{% static 'image/group.png' %}" alt="" class="invert w-[100px]">
                <p>You haven't joined any groups yet</p>
                <p>Join a match to join its group</p>
            </div>
        </div>

        <!-- Chat -->
        <div id="chat-container" class="relative flex flex-col h-[calc(100dvh-75px)] border-l border-neutral-800 overflow-hidden">
            <div class="absolute flex flex-row w-full h-[70px] gap-4 top-0 bg-neutral-700 items-center px-4 md:px-10 z-10">
                <img src="{% static 'image/group.png' %}" alt="" class="invert w-[40px]">
                <div class="flex flex-col gap-[2px] overflow-hidden">
                    <p id="chat-group-name" class="truncate"></p>
                    <p id="chat-group-members" class="text-neutral-400 truncate"></p>
                </div>
            </div>

            <div class="flex flex-col-reverse justify-start overflow-y-auto h-full pt-[70px] pb-24 px-4 md:px-10" id="chats-section">
            </div>

            <!-- Chat form -->
            <div class="absolute flex flex-row w-full w-[370px] md:w-[480px] lg:w-[900px] h-[50px] bottom-3 bg-neutral-800 rounded-full items-center justify-center px-2 md:px-4 ml-[10px] md:ml-[10px] lg:ml-[55px]">
                <textarea name="" id="chat-textarea" class="flex-1 bg-transparent w-[300px] resize-none focus:outline-none h-[25px] px-2" placeholder="Type your message"></textarea>
                <button id="send-chat" class="ml-2 w-[30px]">
                    <img src="{% static 'image/paperplane.webp' %}" alt="" class=" size-[20px] md:size-[25px] invert">
                </button>
            </div>
        </div>
        <div id="chat-container-empty" class="hidden relative flex flex-col h-[calc(100dvh-75px)] border-l border-neutral-800 overflow-hidden">
            <div class="flex flex-col gap-4 items-center justify-center m-auto">
                <img src="{% static 'image/chat.png' %}" alt="" class="invert w-[150px]">
                <p>Send a message to your group here!</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
const groupsContainer = document.getElementById("groups-container");
const innerGroupsContainer = document.getElementById("inner-groups-container");
const emptyGroupsContainer = document.getElementById("empty-groups-container");
const chatGroupNameElement = document.getElementById("chat-group-name");
const chatGroupMembersElement = document.getElementById("chat-group-members");
const chatContainerEmpty = document.getElementById("chat-container-empty");
const chatContainer = document.getElementById("chat-container");
const chatsSectionContainer = document.getElementById("chats-section");
const sendButton = document.getElementById("send-chat");
const chatTextArea = document.getElementById("chat-textarea");
const groupSearchFormInput = document.getElementById("group-search-form-input");
const username = "{{ username|escapejs }}"

let currentGroupSection = document.getElementById("dummy-section");
let lastChat = null;
let lastChatTime = null;
let fetchChatsInterval = null;
let currentGroupId = '';

// Ganti grup
async function changeCurrentGroup(group) {
    currentGroupId = group.id
    // reset highlight grup sebelumnya
    currentGroupSection.className = "flex w-full h-[70px] hover:cursor-pointer hover:bg-neutral-800 items-center px-6";
    currentGroupSection = document.getElementById(`group-${group.id}-section`);
    currentGroupSection.className = "flex w-full h-[70px] hover:cursor-pointer hover:bg-neutral-800 items-center px-6 bg-neutral-800";

    // update UI
    chatGroupNameElement.innerText = group.name;
    chatGroupMembersElement.innerText = group.members.join(", ");
    sendButton.onclick = () => sendChat(group.id);

    // reset chat
    chatsSectionContainer.innerHTML = '';
    lastChat = null;
    lastChatTime = null;

    startFetchingChats(group.id);
}

// Start fetching chat dengan interval
function startFetchingChats(groupId) {
    if (fetchChatsInterval) clearInterval(fetchChatsInterval);

    // fetch pertama kali
    fetchChats(groupId);

    // interval fetch setiap 5 detik
    fetchChatsInterval = setInterval(() => fetchChats(groupId), 5000);
}

// Fetch chat dari backend
async function fetchChats(groupId) {
    try {
        const response = await fetch(`/liveChat/chat/${groupId}/`);
        if (!response.ok) throw new Error("Gagal fetch chat");
        const json = await response.json();
        const chats = json.data;
        addChatToPage(chats);
    } catch (err) {
        console.error("Error fetching chats:", err);
    }
}

// Build bubble chat
function buildChatBubbleElement(chat) {
    const bubbleElement = document.createElement('div');
    const sameUserAsPrev = lastChat !== null && lastChat.username === chat.username;
    const sameUserAsCurrent = chat.username === "{{ username|escapejs }}";
    const localDate = new Date(chat.createdAt); // parse ISO UTC
    const timeString = localDate.toLocaleTimeString('id-ID', {
        hour: '2-digit',
        minute: '2-digit',
    });

    const dateString = localDate.toLocaleDateString('id-ID', {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit'
    });
    console.log()

    // alignment
    bubbleElement.className = `flex flex-row ${sameUserAsCurrent ? "justify-end" : "justify-start"} mt-${sameUserAsPrev ? 1 : 2}`;

    const bubbleChatHtml = sameUserAsPrev
        ? `<div class="flex flex-row ${sameUserAsCurrent ? "bg-green-700" : "bg-neutral-800"} rounded-[8px] gap-10 py-1 px-4 ${sameUserAsCurrent ? "mr-[38px]" : "ml-[38px]"}">
                <div class="flex flex-col gap-3">
                    <a href="/profile/${username}/" class="max-w-[500px]">${chat.message}</a>
                </div>
                <div class="flex flex-col text-right text-[13px] pt-1">
                    <p>${dateString}</p>
                    <p>${timeString}</p>
                </div>
           </div>`
        : sameUserAsCurrent
        ? `<div class="flex flex-row gap-2 items-end">
                <div class="flex flex-row bg-green-700 rounded-[8px] gap-10 py-1 px-4">
                    <div class="flex flex-col gap-3 text-right">
                        <p class="max-w-[500px]">${chat.message}</p>
                    </div>
                    <div class="flex flex-col text-right text-[13px] pt-1">
                        <p>${dateString}</p>
                        <p>${timeString}</p>
                    </div>
                </div>
                <img src={{ profile_picture|escapejs }} alt="" class="size-[30px] rounded-full">
           </div>`
        : `<div class="flex flex-row gap-2 items-end">
                <a href="/profile/${username}/"><img src="${chat.profile_picture}" alt="" class="size-[30px] rounded-full"></a>
                <div class="flex flex-row bg-neutral-800 rounded-[8px] gap-10 py-1 px-4">
                    <div class="flex flex-col gap-3">
                        <a href="/profile/${username}/" class="font-semibold">${chat.username}</a>
                        <p class="max-w-[500px]">${chat.message}</p>
                    </div>
                    <div class="flex flex-col text-right text-[13px] pt-1">
                        <p>${dateString}</p>
                        <p>${timeString}</p>
                    </div>
                </div>
           </div>`;

    bubbleElement.innerHTML = bubbleChatHtml;
    return bubbleElement;
}

// Tambahkan chat ke tampilan
function addChatToPage(chats) {
    if (!chats || chats.length === 0) return;

    // fetch pertama kali: tampilkan semua
    if (!lastChatTime) {
        for (let i = chats.length-1; i >= 0; i--) {
            const chat = chats[i];
            chatsSectionContainer.prepend(buildChatBubbleElement(chat));
            lastChat = chat;
        }
        lastChatTime = chats[0].createdAt;
        return;
    }

    // hanya chat baru
    const newChats = chats.filter(chat => chat.createdAt > lastChatTime);
    for (let i = newChats.length-1; i >= 0; i--) {
        const chat = newChats[i];
        chatsSectionContainer.prepend(buildChatBubbleElement(chat));
        lastChat = chat;
    }

    if (newChats.length > 0) {
        lastChatTime = newChats[0].createdAt;
        lastChat = newChats[0];
    }
}

// Build group section
function buildGroupSectionElement(group) {
    const sectionElement = document.createElement('div');
    sectionElement.className = "flex w-full h-[70px] hover:cursor-pointer hover:bg-neutral-800 items-center px-6";
    sectionElement.onclick = () => changeCurrentGroup(group);
    sectionElement.id = `group-${group.id}-section`;
    const localDate = new Date(group.last_chat.createdAt); // parse ISO UTC
    const timeString = localDate.toLocaleTimeString('id-ID', {
        hour: '2-digit',
        minute: '2-digit',
    });

    const dateString = localDate.toLocaleDateString('id-ID', {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit'
    });

    const groupSectionHtml = `
        <div class="flex flex-row gap-4 w-full">
            <img src="{% static 'image/group.png' %}" alt="" class="invert w-[40px]">
            <div class="grid grid-cols-[70%_30%] w-full">
                <div class="flex flex-col gap-[2px]">
                    <p>${group.name}</p>
                    <p class="text-[14px] text-neutral-400 truncate">${group.last_chat ? group.last_chat.username + ": " + group.last_chat.message : "Belum ada chat"}</p>
                </div>
                <div class="flex flex-col text-right text-neutral-400 text-[10px] md:text-[12px] gap-[2px]">
                    <p>${group.last_chat ? dateString : "-"}</p>
                    <p>${group.last_chat ? timeString : "-"}</p>
                </div>
            </div>
        </div>`;

    sectionElement.innerHTML = groupSectionHtml;
    return sectionElement;
}

// Tambahkan daftar grup
function addGroupsToPage(groups, filter) {
    console.log("here");
    if (groups.length === 0 && !filter)
    {
        groupsContainer.className = "hidden flex flex-col border-neutral-800 overflow-y-auto h-[calc(100dvh-75px)]";
        emptyGroupsContainer.className = "flex flex-col border-neutral-800 overflow-y-auto h-[calc(100dvh-75px)]";
        chatContainer.className = "hidden relative flex flex-col h-[calc(100dvh-75px)] border-l border-neutral-800 overflow-hidden";
        chatContainerEmpty.className = "relative flex flex-col h-[calc(100dvh-75px)] border-l border-neutral-800 overflow-hidden";
    }   
    else
    {
        groupsContainer.className = "flex flex-col border-neutral-800 overflow-y-auto h-[calc(100dvh-75px)]";
        emptyGroupsContainer.className = "hidden flex flex-col border-neutral-800 overflow-y-auto h-[calc(100dvh-75px)]";
        innerGroupsContainer.innerHTML = '';
        groups.forEach(group => innerGroupsContainer.appendChild(buildGroupSectionElement(group)));
    }
}

// Fetch grup dari backend
async function fetchGroups() {
    const response = await fetch("/liveChat/group/");
    const json = await response.json();
    const groups = json.data;
    console.log("groups:", groups)
    addGroupsToPage(groups, false);
    if (groups.length > 0) await changeCurrentGroup(groups[0]);
}

async function fetchGroupsSearch() {
    const response = await fetch(`/liveChat/group/?group_name=${groupSearchFormInput.value.trim()}`, {
        method: "GET",
    });
    const json = await response.json();
    const groups = json.data;
    console.log("groups:", groups);
    addGroupsToPage(groups, true);
}

// Kirim chat
async function sendChat(group_id) {
    if (!chatTextArea.value.trim()) return;

    const response = await fetch(`/liveChat/chat/${group_id}/`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ message: chatTextArea.value }),
        credentials: "include",
    });
    chatTextArea.value = '';
    await fetchChats(group_id);
}

// inisialisasi
fetchGroups();

chatTextArea.addEventListener("keydown", function (event) {
    if (event.key === "Enter") {
        event.preventDefault();
        sendChat(currentGroupId);
    }
})

groupSearchFormInput.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
        fetchGroupsSearch();
    }
})

groupSearchFormInput.addEventListener("input", function() {
    if (!groupSearchFormInput.value.trim().length) {
        fetchGroupsSearch();
    }
});
</script>
{% endblock extra_scripts %}